<table class="table">
    <tr>
        <td style="font-weight:bold">Day 1</td>
        <td>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:25px ; padding-right:25px">
                    <a href="/Luxor/PlaceDetails/25">
                        <img src="../../Content/images/Luxor/Ballon1.jpg" alt="Image" class="img-responsive" style="width:280px;height:135px;padding:10px 0px">
                    </a>
                    <p style="font-size:15px">
                        first trip in (Hot Air Ballon) <br />
                        From 5 AM : 8 AM <br />
                        <a href="/Luxor/PlaceDetails/25">Details & Photos</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:25px ; padding-right:25px">
                    <a href="/Luxor/PlaceDetails/10">
                        <img src="../../Content/images/Luxor/LuxorTemple1.jpg" alt="Image" class="img-responsive" style="width:280px;height:135px;padding:10px 0px">
                    </a>
                    <p style="font-size:15px">
                        Tour Inside Luxor Temple <br />
                        From 10 AM : 12 PM <br />
                        <a href="/Luxor/PlaceDetails/10">Details & Photos</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:25px ; padding-right:25px">
                    <a href="/Luxor/PlaceDetails/9">
                        <img src="../../Content/images/Luxor/Karnak8.jpg" alt="Image" class="img-responsive" style="width:280px;height:135px;padding:10px 0px">    
                    </a>
                    <p style="font-size:15px">
                        Tour Inside Karnak Temple <br />
                        From 2 PM : 5 PM <br />
                        <a href="/Luxor/PlaceDetails/9">Details & Photos</a>
                    </p>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:25px ; padding-right:25px">
                    <a href="/Luxor/PlaceDetails/24">
                        <img src="../../Content/images/Luxor/Luxor2.jpg" alt="Image" class="img-responsive" style="width:280px;height:135px;padding:10px 0px">
                    </a>                    
                    <p style="font-size:15px">
                        Tour Inside The City <br />
                        From 7 PM : 10 PM <br />
                        <a href="/Luxor/PlaceDetails/24">Details & Photos</a>
                    </p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold">Day 2</td>
        <td>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:25px ; padding-right:25px">
                    <a href="/Luxor/PlaceDetails/8">
                        <img src="../../Content/images/Luxor/Hatshepsut2.jpg" alt="Image" class="img-responsive" style="width:280px;height:135px;padding:10px 0px">    
                    </a>
                    <p style="font-size:15px">
                        Tour inside Hatshebsut Temple <br />
                        From 8 AM : 10 AM <br />
                        <a href="/Luxor/PlaceDetails/8">Details & Photos</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:25px ; padding-right:25px">
                    <a href="/Luxor/PlaceDetails/15">
                        <img src="../../Content/images/Luxor/Banana6.jpg" alt="Image" class="img-responsive" style="width:280px;height:135px;padding:10px 0px">    
                    </a>
                    <p style="font-size:15px">
                        Kings Vally & Banana Island<br />
                        From 10 AM : 12 PM <br />
                        <a href="/Luxor/PlaceDetails/15">Details & Photos</a>
                    </p>

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:25px ; padding-right:25px">
                    <a href="/Luxor/PlaceDetails/26">
                        <img src="../../Content/images/Nile_Tour/NileTrip7.jpg" alt="Image" class="img-responsive" style="width:280px;height:135px;padding:10px 0px">    
                    </a>
                    <p style="font-size:15px">
                        Nile Cruise enjoing with sunset <br />
                        From 12 PM : 7 PM <br />
                        <a href="/Luxor/PlaceDetails/26">Details & Photos</a>
                    </p>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12" style="padding-left:25px ; padding-right:25px">
                    <a href="/Luxor/PlaceDetails/9">
                        <img src="../../Content/images/Luxor/Karnak1.jpg" alt="Image" class="img-responsive" style="width:280px;height:135px;padding:10px 0px">    
                    </a>
                    <p style="font-size:15px">
                        Sound And Light Show <br />
                        From 9 PM : 12 AM <br />
                        <a href="/Luxor/PlaceDetails/9">Details & Photos</a>
                    </p>
                </div>
            </div>
        </td>
    </tr>
</table>

